.space {
    margin-right: 8px;
}

.green {
    color: green;
}

.blue {
    color: dodgerblue;
}

.red {
    color: red;
}

.multiline {
    white-space: pre;
}

.swipe-right {
    margin-left: auto !important;
}

.input-max-width {
    max-width: 300px;
}