body {
    height: 100vh;
    margin: 0;
    padding: 0 2.5%;
    background-color: #FFD300; /* Harting yellow */
}

p {
    margin: 0; /* reset default margin */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.white-round {
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    padding: 10px;
}

#main {
    height: calc(100% - 100px);
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

#list-view {
    flex: 0 0 350px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#list-actions {
    width: 100%;
    height: auto;
    padding-bottom: 7px;
    border-bottom: 1px solid black;
    margin-bottom: 7px;
    display: flex;
}

.list-action:last-child {
    margin-left: 5px;
}

.device-item {
    margin: 5px;
    padding: 5px;
    border: 5px solid #FFD300;
    border-radius: 5px;
    font-size: 16pt;
    display: flex;
    align-items: center;
}

.device-item > * {
    margin-left: 5px;
    margin-right: 5px;
}

.selected {
    margin: 2px;
    border-width: 8px;
}

#info-view {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
}

#info-actions {
    width: 100%;
    height: auto;
    padding-bottom: 7px;
    border-bottom: 1px solid black;
    margin-bottom: 7px;
    display: flex;
}

#info-actions > *:not(:first-child) {
    margin-left: 5px;
}

.info-message {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14pt;
}

.container-item {
    margin: 5px;
    padding: 5px;
    flex: 1 0 150px;
    height: 150px;
    border: 5px solid #FFD300;
    border-radius: 5px;
    box-sizing: border-box;
}

.pseudo-item {
    margin: 5px;
    flex: 1 0 150px;
    height: 0;
    border: none;
    box-sizing: border-box;
}