<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Micamu</title>
    <link rel="stylesheet" href="style/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="style/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="style/helpers.css" type="text/css" />
    <link rel="stylesheet" href="style/micamu.css" type="text/css" />
    <!-- AngularJS -->
    <script src="libs/angular.min.js"></script>
    <!-- JQuery -->
    <script src="libs/jquery-3.0.0.min.js"></script>
    <!-- Json-RPC library -->
    <!-- Source: https://github.com/datagraph/jquery-jsonrpc -->
    <script src="libs/jquery.jsonrpc.js"></script>
    <!-- Micamu javascript files -->
    <script src="json-rpc.js"></script>
    <script src="micamu.js"></script>
</head>
<body ng-app="Micamu">
    <!-- Header -->
    <header>
        <div class="white-round">
            <img src="images/logo.png" />
        </div>
    </header>
    <div id="main" ng-controller="Session as session">
        <!-- Device list view -->
        <div id="list-view" class="white-round">
            <!-- List actions --> 
            <div id="list-actions" >
                <!-- Add device action -->
                <form class="list-action input-group">
                    <input type="text" class="form-control" placeholder="Enter device endpoint" maxlength="21" ng-model="endpointInput">
                    <span class="input-group-btn">
                        <button class="btn btn-success" ng-click="session.add(endpointInput)" 
                                ng-disabled="!session.Helper.validateEndpoint(endpointInput)">
                            <i class="fa fa-plus space"></i>Add
                        </button>
                    </span>
                </form>
                <!-- Save devices action -->
                <button class="list-action btn btn-info">
                    <i class="fa fa-floppy-o space"></i>Save
                </button> 
            </div>
            <!-- Devices -->
            <div class="device-item" ng-repeat="device in session.Devices"
                    ng-class="{ 'selected' : session.isSelected(device) }"
                    ng-click="session.select(device)" ng-mouseover="mouseover = true" ng-mouseleave="mouseover = false">
                <i class="fa" ng-class="{ 'green fa-check' : device.isConnected(), 'blue fa-spinner fa-pulse' : device.isPending(), 'red fa-exclamation-triangle' : device.isDisconnected() }"></i>
                <p>{{device.Endpoint}}</p>
                <button class="btn btn-sm btn-danger swipe-right" ng-show="mouseover" ng-click="session.remove(device); $event.stopPropagation();">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
        <!-- Device info view -->
        <div id="info-view" class="white-round">
            <!-- Info actions -->
            <div id="info-actions" ng-show="session.SelectedDevice" >
                <!-- Add container action -->
                <fieldset ng-disabled="!session.SelectedDevice.isConnected()">
                    <form class="item-action input-group input-max-width">
                        <input type="text" class="form-control" placeholder="Enter container name" maxlength="21"
                                ng-model="containerInput">
                        <span class="input-group-btn">
                            <button class="btn btn-success">
                                <i class="fa fa-plus space"></i>Install
                            </button>
                        </span>
                    </form>
                </fieldset>
                <!-- Reboot device action -->
                <button class="info-action btn btn-warning" ng-disabled="!session.SelectedDevice.isConnected()">
                    <i class="fa fa-repeat space"></i>Reboot
                </button>
                <!-- Refresh action -->
                <button class="info-action btn btn-info swipe-right" ng-disabled="session.SelectedDevice.isPending()"
                        ng-click="session.SelectedDevice.refresh()">
                    <i class="fa fa-refresh space"></i>Refresh
                </button>
            </div>
            <!-- Disconnection info -->
            <div class="info-message" ng-if="session.SelectedDevice.isDisconnected()">
                <p><i class="red fa fa-exclamation-triangle space"></i>The last connection request failed.</p>
                <p class="multiline">{{session.SelectedDevice.LastError}}</p>
            </div>
            <!-- Pending info -->
            <div class="info-message" ng-if="session.SelectedDevice.isPending()">
                <p><i class="blue fa fa-spinner fa-pulse space"></i>Trying to connect to the device ...</p>
            </div>
            <!-- No container info -->
            <div class="info-message" ng-if="session.SelectedDevice.hasNoContainers()">
                <p><i class="blue fa fa-info-circle space"></i>No containers are installed on this device.</p>
            </div>
            <!-- Containers -->
            <div class="container-item" ng-if="session.SelectedDevice.isConnected()" ng-repeat="container in session.SelectedDevice.Containers">
                <p>{{container.Name}}</p>
            </div>
            <!-- Pseudo elements to achieve constant container sizes -->
            <div class="pseudo-item" ng-if="session.SelectedDevice.isConnected()" ng-repeat="pseudo in session.Helper.getPseudos(10) track by $index" ></div>
        </div>
    </div>
</body>
</html>
