<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Micamu</title>
    <link rel="stylesheet" href="style/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="style/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="style/micamu.css" type="text/css" />
    <!-- AngularJS -->
    <script src="libs/angular.min.js"></script>
    <!-- JQuery -->
    <script src="libs/jquery-3.0.0.min.js"></script>
    <!-- Json-RPC library -->
    <!-- Source: https://github.com/datagraph/jquery-jsonrpc -->
    <script src="libs/jquery.jsonrpc.js"></script>
    <!-- Micamu javascript files -->
    <script src="call.js"></script>
    <script src="micamu.js"></script>
</head>
<body ng-app="Micamu">
    <!-- Header -->
    <header>
        <div class="white-round">
            <img src="images/logo.png" />
        </div>
    </header>
    <div id="main" ng-controller="Session as session">
        <!-- Devices -->
        <div id="device-list" class="white-round">
            <div id="device-actions" >
                <form class="input-group">
                    <input type="text" class="form-control" placeholder="Enter device endpoint" maxlength="21" ng-model="endpointInput">
                    <span class="input-group-btn">
                        <button class="btn btn-success" ng-click="session.add(endpointInput)" 
                                ng-disabled="!session.Helper.validateEndpoint(endpointInput)">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    </span>
                </form>
                <button class="btn btn-info">
                    <i class="fa fa-floppy-o"></i> Save
                </button> 
            </div>
            <div class="device-item" ng-repeat="device in session.Devices"
                    ng-class="{ selected: session.isSelected(device), offline: device.IsOffline }"
                    ng-click="session.select(device)" ng-mouseover="mouseover = true" ng-mouseleave="mouseover = false">
                <p>{{device.Endpoint}}</p>
                <button class="btn btn-sm btn-danger" ng-show="mouseover" ng-click="session.remove(device); $event.stopPropagation();">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
        <!-- Containers -->
        <div id="container-list" class="white-round">
            <div id="container-actions" ng-show="session.SelectedDevice" >
                <form class="input-group" id="add-container">
                    <input type="text" class="form-control" placeholder="Enter container name" maxlength="21"
                            ng-model="containerInput">
                    <span class="input-group-btn">
                        <button class="btn btn-success">
                            <i class="fa fa-plus"></i> Install
                        </button>
                    </span>
                </form>
                <button class="btn btn-warning">
                    <i class="fa fa-repeat"></i> Reboot
                </button>
            </div>
            <div class="container-item" ng-repeat="container in session.SelectedDevice.Containers">
                <p>Container</p>
            </div>
            <div class="pseudo-item" ng-repeat="pseudo in session.Helper.getPseudos(10) track by $index" ></div>
        </div>
    </div>
</body>
</html>
