<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Micamu</title>
    <link rel="stylesheet" href="style/micamu.css" type="text/css" />
    <script src="libs/angular.min.js"></script>
    <script src="libs/jquery-3.0.0.min.js"></script>
    <script src="libs/jquery.jsonrpc.js"></script>
    <script src="call.js"></script>
    <script src="micamu.js"></script>
</head>
<body ng-app="MicamuApp">
    <header>
        <div class="white-round">
            <img src="images/logo.png" />
        </div>
    </header>
    <div id="main" ng-controller="Session as session">
        <div id="device-list" class="white-round">
            <div id="device-actions" ></div>
            <div class="device-item" ng-class="{'selected': session.isSelected(device)}" ng-repeat="device in session.Devices" ng-click="session.select(device)">
                <p>{{device.Name}}</p>
                <p><i>{{device.Endpoint}}</i></p>
            </div>
        </div>
        <div id="container-list" class="white-round">
            <div id="container-actions" ></div>
            <div class="container-item" ng-repeat="container in session.SelectedDevice.Containers">
                <p>Container</p>
            </div>
            <div class="pseudo-item" ng-repeat="pseudo in session.Helpers.getPseudos(10) track by $index" ></div>
        </div>
    </div>
</body>
</html>
